# Ignore Git-related files
.git
.gitignore

# Ignore IDE settings
.vscode/
.idea/
*.iml

# Ignore Gradle temp folders
.gradle/
gradle/

# Ignore build output except the final JAR
build/
!build/libs/*.jar

# OS-specific files
.DS_Store
Thumbs.db

README.md
*.md